* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("img/cobblestone.png");
    background-size: 128px;
    background-repeat: repeat;
}

.tester {
    width: 100%;
    height: fit-content;
    background-color: grey;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

h1#header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 500px;
    height: 60px;
    background: radial-gradient(rgb(93, 93, 93), rgb(24, 24, 24));
    color: black;
    border: solid black;
    border-radius: 10px;
    margin: 10px;
}

.card-background {
    border-radius: 16px;
}

.players {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.player-text {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    color: #DDDDDD;
    background-color: white;
    border: solid white;
    border-radius: 4px;
    background-color: black;
    padding: 4px
}

.player {
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.points {
    color: #00FFAA;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    border: solid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    border-radius: 16px;
}

.game {
    display: flex;
    flex-flow: column nowrap;
    background-image: url("img/scroll.png");
    background-size: 512px;
    background-repeat: repeat;
    border-radius: 3%;
    width: 900px;
    height: 600px;
    filter: drop-shadow(1px 1px 30px #202015);
}

button {
    width: 200px;
    height: 60px;
    margin: 5px;
    color: white;
    text-transform: uppercase;
    font-size: large;
    background-image: radial-gradient(#89878C, #2f242e);
    border-radius: 10px;
}

button:hover {
    border: solid white;
}

button:active {
    background-image: radial-gradient(#2f242e, #89878C)
}

.buttons {
    display: flex;
    align-self: center;
    margin: 10px;
    border-radius: 4px;
}