* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("img/cobblestone.png");
    background-size: 128px;
    background-repeat: repeat;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:200px;
    height:50px;
    background: radial-gradient(white, grey);
    /* background-color: #F0D8A5; */
    /* color: #DDDDDD; */
    color: black;
    border: solid black;
    border-radius: 10px;
    /* background-color: black; */
    margin: 10px;
}

.players {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.player-text
{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    color: #DDDDDD;
    background-color: white;
    border: solid white;
    border-radius: 4px;
    background-color: black;
    /* background: radial-gradient(#d34f3e, #793345); */
    padding: 4px
}

.player {
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    /* background-color: blue; */
    align-items: center;
    justify-content: space-around;
}

.points {
    color: #00FFAA;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    border: solid;
    outline: 10px solid #DDDDDD;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    border-radius: 15px;
    /* background: radial-gradient(#d34f3e, #793345);
    background: radial-gradient(#70a8ab, #326e75); */
    /* background: url("img/cards/back7.png"); */
}

/* .player-text:last-of-type{
    background: radial-gradient(#70a8ab, #326e75);
}
.card:last-of-type{
    background: radial-gradient(#70a8ab, #326e75);
} */
/* .card h2 {
    display: flex;
    align-self: center;
    justify-self: start;
    justify-content: start;
    align-items: start;

    background-color:blueviolet;
} */

.game {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url("img/scroll.png");
    background-size: 256px;
    background-repeat: repeat;
    /* background-color: red; */
    border-radius: 3%;
    width: 900px;
    height: 600px;
    filter: drop-shadow(1px 1px 30px #202015);
}

button {
    width: 150px;
    height: 50px;
    margin: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin:10px;
    /* padding:auto; */
    /* align-items: center; */
    /* align-self: end; */
    /* align-content: center; */
}
